<span>ng-group 10</span>

<mat-list>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'data-binding']">Data binding</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'event-binding']">Event binding</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'typescript']">Typescript</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'built-in-directives']">Built-in directives</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'custom-pipes']">Custom pipes</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'component-interaction']">Component interaction</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'template-driven']">Template driven</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'model-driven']">Model driven</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', 'notifications']">Notifications</button>
    </mat-list-item>
</mat-list>

<div>
    <router-outlet></router-outlet>
</div>
